<div class="well">

  <div class="page-header">
    <h3><%= params[:id] %></h3>
  </div><!-- / -->

  <%= render 'kaminari/page_entries_info', :collection => @repos %>

  <table class="table table-striped">
    <tbody>
      <%= render @repos %>
    </tbody>
  </table>

  <%= render 'kaminari/page_entries_info', :collection => @repos %>

</div>