<%- title 'You are watching repos owned by...' -%>
<%- subtitle params[:id] -%>

<div class="well">

  <%= render 'kaminari/page_entries_info', :collection => @repos %>

  <table class="table table-striped">
    <tbody>
      <%= render partial: 'repo', collection: @repos %>
    </tbody>
  </table>

  <%= render 'kaminari/page_entries_info', :collection => @repos %>

</div>