<script type="text/javascript">
  var showAnimation = <%= cookies.key?(:user_id) ? 'false' : 'true' %>;
</script>

<h2 class="first">Use Github?</h2>
<h2>Watching hundreds of Github repos?</h2>
<h2>Want to search just within those repos?</h2>
<h2>Want to browse them by language?</h2>
<h2>Or maybe by popularity?</h2>

<h1>What's in your Gitchen?</h1>
<%= link_to sign_in_path, class: 'btn btn-large btn-primary' do %>
  <strong>FIND OUT NOW &raquo;</strong>
<% end -%>
<p>Please note that we have no intention of making changes to your<br />Github account without your explicit permission.<br />Don't believe us? Take a <a href="http://github.com/joelmoss/gitchen" target="_blank">look for yourself</a>.</p>
