/* Utilities
/* ---------------------------------------------------------------------------- */

.table th.right, .table td.right, .right {
  text-align: right;
}
.table th.left, .table td.left, .left {
  text-align: left;
}

#loading {
  background: transparent image-url('loading.gif') no-repeat scroll center center;
  height: 150px;
}

#user_display_bar {
  img {
    border: 4px solid #666;
    margin-left: 8px;
  }
  color: #CCC;
  font-size: 11px;
  span {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
}

tr.unwatched {
  .badge {
    background-color: #DDD;
    text-decoration: line-through;
  }
  h3, h3 a, h6, p {
    color: #DDD;
    text-decoration: line-through;
  }
}