
<% if signed_in? %>

  <% if @repos.empty? %>

    <div class="alert alert-info">
      <h4 class="alert-heading">Fetching your watched repos...</h4>
      Please wait a few seconds, and they should start to appear below.
    </div>
    <div id="loading"></div>

  <% else %>

    <div class="well">

      <%= paginate @repos %>

      <table class="table table-striped">
        <tbody>
          <%= render partial: 'dashboards/repo', collection: @repos %>
        </tbody>
      </table>

      <%= paginate @repos %>

    </div>

  <% end %>

<% end %>